body{
    background-image: url('scribble.JPG');
    background-size: cover;
}

h1{
    font-size: 300%;
    color:rgb(214, 127, 173);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

img{
    width:300px;
    height:300px;
}

.center{
    display:flex;
  justify-content: center;
  align-items: center;
}

p{
    color: rgb(206, 153, 173);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}